/* Modal.css */
.modal {
    top: 35%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    width: 60%;
    transform: translate(-40%, -10%);
    /* Add other styles as needed */
  }
  